body
{
  background-color: lightblue;
}

div {
    text-align: center;
    margin-bottom: 20px;
}

button {
    height: 50px;
    width: 50px;    
}

img {
    display: block;
    width: 500px;
    margin: auto;
}
h1{color:red;}
h1 {text-align: center;}
p {text-align: center;}
p {color:black;}